!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "Path Menu 超級版", :property => "og:title"}
    %meta{:content => "Path Menu 超級版", :property => "og:site_name"}
    %meta{:content => "Mockup by evendesign http://evendesign.tw inspired from http://lab.victorcoulon.fr/css/path-menu/", :property => "og:description"}
    %meta{:content => "http://path-menu-ex.heroku.com/images/fb.png", :property => "og:image"}
    %meta{:content => "http://path-menu-ex.heroku.com/", :property => "og:url"}
    = yield_content :head
    = stylesheet_link_tag( "main" )
    = javascript_include_tag( "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js", "all" )
  %body{:class => page_classes}
    = partial "fb"
    .wrapper
      %header#hd
        .inner
          = yield_content :header
      #bd
        .inner
          = yield